# {{- $email := promptString "Git email address for the author/committer" }}
# {{- $name := promptString "Git username for the author/committer" }}

[data]
    email = "{{ $email }}"
    name = "{{ $name }}"
