[user]
	email = {{ .email }}
	name = {{ .name }}
	signingkey = 459483740B96A7B9
[core]
	editor = vim
	pager = less -FRSX
	autocrlf = input
[commit]
	gpgSign = true
[merge]
	conflictstyle = diff3
[gitflow]
	multi-release = true
	multi-hotfix = true
